# BOT Chain Testnet
RPC_URL=https://rpc.bohr.life
BLOCKSCOUT_API_URL=https://scan.bohr.life/api/v2
MACHINECREDIT_ADDRESS=0xe669BC1281F59ad94E36e850736E5B0075C16e39
USDT_ADDRESS=0x75edC9335175Fc0552D51D48439F229c10420fe3

# BOT Chain Mainnet (isi MACHINECREDIT_ADDRESS setelah deploy)
# RPC_URL=https://rpc.botchain.ai
# BLOCKSCOUT_API_URL=https://scan.botchain.ai/api/v2
# MACHINECREDIT_ADDRESS=
# USDT_ADDRESS=0xaBabc7Ddc03e501d190C676BF3d92ef0e6e87a3C

PORT=5000
